.APP{
  text-align: center;
  font-size: 5px;
  
 
  
}


input.inputBox{
  font-size: 16px;
  padding: 5px 8px 4px 8px;
  border-radius: px;
  border: 1px solid #666;

}
  
.calendarWrap{
  display: inline-block;
  position: relative;

  padding-left: 70px;
}


.calendarElement{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40px;
  border: 1px solid #ccc;
  z-index: 999;
  padding-left: 70px;
}